<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#"> Check-Password-Strength </a>
  </div>
</nav>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <p>A NPM package that checks the password strength of a certain passphrase. A password strength checker based from Javascript RegEx.</p>
      <br />
      <div class="columns">
        <div class="column is-6">
          <input
            class="input"
            [attr.type]="isShowPassword ? 'input' : 'password'"
            placeholder="Enter sample password here."
            (keyup)="passwordType($event)"
          />
          <div class="checkbox-adjustment"></div>
          <div class="level">
            <div class="level-left">
              <label class="checkbox">
                <input type="checkbox" (click)="pressCheckbox($event)" />
                Show password
              </label>
            </div>
            <div class="level-right"></div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h4 class="title is-4">Result</h4>
            <hr />
            <div class="level">
              <div class="level-left"><span class="label-bold">ID:</span></div>
              <div class="level-right">{{ passwordStrengthValue.id }}</div>
            </div>
            <div class="level">
              <div class="level-left">
                <span class="label-bold">Strength value:</span>
              </div>
              <div class="level-right">
                <div [ngClass]="badgeConditions()">
                  {{ passwordStrengthValue.value }}
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <span class="label-bold">Length:</span>
              </div>
              <div class="level-right">{{ passwordStrengthValue.length }}</div>
            </div>
            <div class="level">
              <div class="level-left">
                <span class="label-bold">Contains:</span>
              </div>
              <div class="level-right">
                <p>{{ passwordStrengthValue.contains }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      I'll be glad if you give this project a ★ on
      <a
        href="https://github.com/deanilvincent/check-password-strength"
        target="_blank"
        >Github</a>
        :)
    </p>
    <p>
      Package installation guide is available here: 
      <a
        href="https://www.npmjs.com/package/check-password-strength"
        target="_blank"
        >https://www.npmjs.com/package/check-password-strength</a>
    </p>
  </div>
</footer>
